/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

body {
    --vert-gradient-primary: linear-gradient(to right, #373b44, #4286f4);
    --vert-gradient-primary-reverse: linear-gradient(to bottom, #373b44, #4286f4);
    --vert-gradient-primary-fallback: #373b44;
}